<mat-card>
  <mat-card-header>
    <mat-card-title>Wish List</mat-card-title>
    <mat-card-subtitle>Inicia sesión</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="logIn()">
      <div class="form">
        <div>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            @if (this.loginForm.controls['email'].hasError('required')) {
              <mat-error>Este campo es obligatorio</mat-error>
            }
            @if (!this.loginForm.controls['email'].hasError('required') && this.loginForm.controls['email'].hasError('email')) {
              <mat-error>Por favor introduce un email valido</mat-error>
            }
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error>Este campo es obligatorio</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form-btn">
        <button mat-flat-button type="submit" [disabled]="loginForm.invalid">
          Iniciar sesión
        </button>
      </div>
    </form>
    <hr />
    <div class="login-actions">
      <span class="small-text providers">¿Te registraste con Google?</span>
      <app-button-provider [isLogin]="true" />
      <span class="small-text log-in-redirect">
        ¿No estas registrado todavía?
        <a routerLink="/auth/singup">Registrate</a>
      </span>
    </div>
  </mat-card-content>
</mat-card>
