.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.table-actions {
  display: flex;
  justify-content: flex-end;
}

.no-list {
  height: 250px;
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 15px;
  justify-content: center;
}

.table {
  display: flex;
  justify-content: center;
}
