@if(loadData) {
  <div class="container">
    @if(wishListExist && wishList !== undefined){
    <div class="table-actions">
      <button mat-raised-button (click)="openInsertDialog()">
        <mat-icon>add</mat-icon> Añadir a la lista
      </button>
    </div>
    }

    <div class="table">
      @if(wishListExist){
        @if(reloadTable){
          <app-table [data]="wishList" (tableActionEvent)="tableAction($event)"></app-table>
        }
      } @else {
        <div class="no-list-container">
          <div class="no-list">
            <span>Parece que todavia no tienes una lista</span>
            <button mat-flat-button (click)="createYourList()">
              Crear tu lista
            </button>
          </div>
        </div>
      }
    </div>
  </div>
}
