<h2 mat-dialog-title>Crear grupo</h2>
<mat-dialog-content>
  <form [formGroup]="createGroupForm">
    <div class="form">
      <div>
        <mat-form-field>
          <mat-label>Nombre del grupo</mat-label>
          <input matInput formControlName="name" />
          <mat-error>Este campo es obligatorio</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button
    mat-flat-button
    [mat-dialog-close]="createGroupForm.value"
    [disabled]="createGroupForm.invalid"
  >
    Crear grupo
  </button>
</mat-dialog-actions>
